<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<style>
  .col-md-2 mb-4{

    height: 15px;

  }
  .card-img-top {
      height: 200px;
      object-fit: cover;
  }
  .social-icons a {
      color: #495057;
      margin: 0 10px;
      font-size: 1.2rem;
  }
  .social-icons a:hover {
      color: #007bff;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Adds spacing between cards */
    justify-content: center; /* Center the cards horizontally */
}
.card {
    flex: 1 1 10rem; /* Flexible width with a minimum size */
    margin: 1rem; /* Margin for better spacing */
    
}

</style>
<body>
    <!--Heade Section Start-->
    <div class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <img src="/static/favicon.png" style="size: 10%;">
              <a class="navbar-brand" href="#">.COM</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="gap:3px">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'post' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex" role="search" action="{% url 'search' %}"  >
                  
                  <input name="search"    class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
               {% if user.is_authenticated %}
               <form  method="post" action="{% url 'logout'%}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
               </form>
               {% else %}
               
               <a class="btn btn-success" href="{% url 'login' %}">Login</a>

              <a class="btn btn-primary" href="{% url 'register' %}">Register</a>

               {% endif %} 

              
                
              </div>
            </div>
          </nav>


    </div>
<!--End of Header Section-->



<!-- Block content starts Hear-->
{% block prv%}

{% endblock %}

<!-- End of Block Content-->


<!-- Footer -->
<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Company Name</h5>
                <p>1234 Street Name<br>City, AA 99999</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">About</a></li>
                    <li><a href="#" class="text-white">Services</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="#" class="text-white">Facebook</a><br>
                <a href="#" class="text-white">Twitter</a><br>
                <a href="#" class="text-white">Instagram</a><br>
                <a href="#" class="text-white">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-center py-3">
        <p class="mb-0">&copy; 2024 Company Name. All rights reserved.</p>
    </div>
</footer>


<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Font Awesome for social icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>

</html>