
{% extends 'layout1.html'%}
{% block prv%}

<div class="container mt-4">
    <!--ROW 1-->
    <div class="row">
        <!-- Post Card 1 -->
        <div class="col-md-2 mb-4" >
            <div class="card">
                <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="Post Image">
                <div class="card-body">
                    <h5 class="card-title">Post Title 1</h5>
                    <p class="card-text">Brief description of the post content.</p>
                    <div class="social-icons text-right">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-linkedin-in"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Posted on Jan 1, 2024
                </div>
            </div>
        </div>
      
</div>

{% endblock%}
