<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page with Lighting Effect</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style2.css">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
   
    <div>
        {{form.as_p}}
    </div>

    <!-- Branding Logo -->
    <main class="d-flex justify-content-center align-items-center vh-100">
        <div class="image-container">
            
         
        </div>

    
    </main>
  
    <!-- Lighting Effect Overlay -->
    <div id="lighting-effect" class="lighting-overlay">

        

    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="static/script.js"></script>
</body>
</html>
